<div class="button-nav">
	<%= link_to "Add new cloud match", new_cloud_match_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Save sort order", "#", class: "btn btn-large btn-primary save-sort", rel: (url_for sort_cloud_matches_path) %>
</div>