<h1>Traffic Driver Classification Manager</h1>

<p>This site allows you to manage which Salesforce.com web sites will have their traffic drivers classified for Omniture's suite of tools. Drivers will be classified every Monday, Wednesday, and Friday automatically.</p>
<p>To add a new site to be classified, use the "Sites" link in the top menu. After adding your site and its list of report suites, you will also need to do the following:</p>
<ol>
	<li>Using the Omniture Admin Console, make sure that your new report suite(s) to be classified have the same classifications on both the Campaign and Traffic Driver variables as the New All Rollup suite.</li>
	<li>Upload <a href="/templates/drivers_first.txt">this file</a> to all new report suites to classify the "None" row for the Campaign variable.</li>
	<li>Upload <a href="/templates/drivers_last.txt">this file</a> to all new report suites to classify the "None" row for the Traffic Driver variable.</li>
</ol>
<p>To manage the brand/non-brand and product classifications for search keywords, choose the appropriate link in the menu. Managing these "match lists" will work in the following way:</p>
<ul>
	<li>Add, remove or delete items from the existing list.</li>
	<li>Re-order the list using drag &amp; drop to change the priority order for each match.</li>
	<li>You can upload an entire list that will overwrite the previous list</li>
</ul>

