<div class="button-nav">
	<%= link_to "Add new brand match", new_brand_match_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Save sort order", "#", class: "btn btn-large btn-primary save-sort", rel: (url_for sort_brand_matches_path) %>
</div>