<%= provide(:title, 'Dashboard') %>
<h1>Dashboard links</h1>

<ul>
	<li><%= link_to "Visits", visits_dashboard_trended_metrics_path %></li>
	<li><%= link_to "Form Completes", form_completes_dashboard_trended_metrics_path %></li>
</ul>