@import "bootstrap";

$grayMediumLight: #eaeaea;
$grayLighter: lighten($grayMediumLight, 50%);

@mixin box_sizing {
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
}

@mixin border_std {
	border:1px solid #ccc;
	border:1px solid rgba(0, 0, 0, 0.15);
}

@mixin border_round {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
}

/* universal */

html {
	overflow-y:scroll;
}

body {
	padding-top:60px;
}

section {
	overflow:auto;
}

textarea {
	resize:vertical;
}

.center {
	text-align:center;
}

.center h1 {
	margin-bottom:10px;
}

h1, h2, h3, h4, h5, h6 {
	line-height:1;
}

h1 {
	font-size:3em;
	letter-spacing:-2px;
	margin-bottom:30px;
	text-align:center;
}

h2 {
	font-size:1.7em;
	letter-spacing:-1px;
	margin-bottom:30px;
	text-align:center;
	font-weight:normal;
	color:#999;
}

p {
	font-size:1.1em;
	line-height:1.7em;
}

#logo {
	position:absolute;
}

#logo:hover {
	color:#fff;
	text-decoration:none;
}

.content {
	margin-top:50px;
}

footer {
	margin-top:45px;
	padding-top:5px;
	border-top:1px solid #eaeaea;
	color:#999;
	text-align:right;
}

.debug_dump {
	clear:both;
	float:left;
	width:100%;
	margin-top:45px;
	@include box_sizing;
}

/* forms */
input, textarea, select, .uneditable-input {
	border:1px solid #bbb;
	width:100%;
	padding:10px;
	height:auto;
	margin-bottom:15px;
	@include box_sizing;
}
textarea {
	max-height:150px;
}

#error_explanation {
	color:#f00;
	ul {
		list-style:none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.button-nav {
	width:100%;
	float:left;
	clear:both;
	margin:25px 0;
	a { margin-right:10px;}
}
 
/* tables */
table.data {
	max-width:100%;
	border:0 none;
	padding:0;
	tr {
		vertical-align:top;
	}
	th, td {
		@include box_sizing;
		padding:5px 10px;
		border:1px solid #ccc;
		min-width:150px;
	}
	th {
		border-top:0 none;
		background:#222;
		background:-moz-linear-gradient(top, #333333, #222222);
		background:-ms-linear-gradient(top, #333333, #222222);
		background:-webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
		background:-webkit-linear-gradient(top, #333333, #222222);
		background:-o-linear-gradient(top, #333333, #222222);
		background:linear-gradient(top, #333333, #222222);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF333333', endColorstr='#FF222222', GradientType=0);
		text-align:left;
		font-size:14px;
		font-weight:bold;
		color:#fff;
	}
	th:first-child {
		-moz-border-radius:4px 0 0 0;
		-webkit-border-radius:4px 0 0 0;
		-ms-border-radius:4px 0 0 0;
		border-radius:4px 0 0 0;
		border-left:0 none;
	}
	th:last-child {
		-moz-border-radius:0 4px 0 0;
		-webkit-border-radius:0 4px 0 0;
		-ms-border-radius:0 4px 0 0;
		border-radius:0 4px 0 0;
		border-right:0 none;
	}
}

#save-alert {
	opacity:0;
	-moz-transition:opacity 0.5s ease-in-out;
}